<%- include("partials/header") %>

    <div class="about">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ratione? Consequatur aperiam atque praesentium soluta exercitationem harum, facilis maxime laboriosam, nostrum animi alias nulla? Aut non consequuntur iure tempora quibusdam ut sapiente quod possimus neque pariatur. Necessitatibus unde numquam qui a ipsa et laboriosam ipsum praesentium, vel, atque, illum placeat.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ratione? Consequatur aperiam atque praesentium soluta exercitationem harum, facilis maxime laboriosam, nostrum animi alias nulla? Aut non consequuntur iure tempora quibusdam ut sapiente quod possimus neque pariatur. Necessitatibus unde numquam qui a ipsa et laboriosam ipsum praesentium, vel, atque, illum placeat.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, ratione? Consequatur aperiam atque praesentium soluta exercitationem harum, facilis maxime laboriosam, nostrum animi alias nulla? Aut non consequuntur iure tempora quibusdam ut sapiente quod possimus neque pariatur. Necessitatibus unde numquam qui a ipsa et laboriosam ipsum praesentium, vel, atque, illum placeat.
        </p>


        <% if (locals.user) { %>
            <a href="/rsvp">
            <% } else { %>
            <a href="/users">
        <% } %>
            Get Started
            </a>


    </div>
    
<%- include("partials/footer") %>