<%- include("partials/header") %>

    <div class="frontmatter">
        <img class="favicon" src="/img/paper_airplane.png" alt="paper_airplane">
        <p>
            <span id="RSV">RSV</span><span id="me">me</span>
        </p>
        <p>Managing your guestlist just got way easier.</p>
        <a href="/about">Learn More</a>
    </div>
    
<%- include("partials/footer") %>