<%- include("partials/header") %>

<div id="box" class="frontmatter">
    <h2 class="center-text mbottom">Login</h2>
    <p class="center-text">
        Don't have an account? <a href="/users">Register</a>
    </p>

    <% if (locals.error) { %>
        <p class="error center-text"><%= error %></p>
    <% } %>

    <form class="authForm" action="/users/login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required> 
        <button class="btn submit mtop">Submit</button>
    </form>
</div>

<%- include("partials/footer") %>
