<%- include("partials/header") %>

<div class="frontmatter">
    <p>
        Don't have an account? <a href="/users">Register</a>
    </p>

    <% if (locals.error) { %>
        <p><%= error %></p>
    <% } %>

    <form class="authForm" action="/users/login" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button>Submit</button>
    </form>
</div>

<%- include("partials/footer") %>
