<%- include("partials/header") %>

<div id="box" class="center-text frontmatter noborder">
    <h1>404</h1>
    <img class="rsvp-img" src="/img/crumbled_paper.png" alt="crumbled_paper">
    <h2>Page not found.</h2>
</div>

<script>
    setTimeout(() => {
        window.location.href = "http://<%=url%>/";
    }, 4000);
</script>

<%- include("partials/footer") %>