*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
}

h2 {
    color:aquamarine;
    text-align: center;
}

.qr-img {
    margin: 33vh auto 0 auto;
    display: block;
}

